@tailwind base;
@tailwind components;
@tailwind utilities;

.transition-max-height {
    transition: max-height 0.3s ease-in-out;
}

html, body, #__next {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #4f46e5 #18181b; /* Firefox */

  @apply scrollbar-thin scrollbar-thumb-zinc-700 scrollbar-track-zinc-900;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-zinc-900;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to bottom, #6366f1, #818cf8);
  border-radius: 10px;
  border: 2px solid #18181b;
}

::-webkit-scrollbar-thumb:hover {
  background-image: linear-gradient(to bottom, #4f46e5, #6366f1);
}

html, body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#root, #__next {
  height: 100%;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  inset: 0;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: relative;
  background: #1a1a1a;
  color: white;
  padding: 1rem;
  border-radius: 8px;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
